@import "_variables";
.search{
	display: inline-block;
}
.search__button{
	background-color: transparent;
	border: none;
	outline: none;
	width: 33px;
	text-align: center;
	color: @icon-gray-color;
	
	&:focus,
	&:hover{
		background-color: transparent;
		border: none;
		outline: none;
	}
}